html, body {
  background-color: #000;
  margin: 0;
  overflow: hidden; /* Hide scrollbars */
}
video {
  opacity: 1;
}
.highlighter {
  background: rgba(0, 255, 0, 0);
  border: 2px solid cyan;
  z-index: 1;
  position: absolute;
}
.objects p {
  display: block;
  position: absolute;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #007f8b;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-family: roboto;
  font-size: 12px;
  margin: 0;
  padding: 0;
}